* {
  box-sizing: border-box;
}

html {
  background-color: #101012;
  color: #b2ada5;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
          "Lucida Console",
          sans-serif;
}

html, body {
  height: 80%;
  margin: auto;
  padding: 0;
}

ul {
  list-style: none;
  word-wrap: break-word;
}

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  background-color: #101012;
}

.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #46bbcc;
  outline: none;
  padding-bottom: 10px;
  text-align: center;
  width: 200px;
}

.login.page .title {
  font-size: 125%;
}

.login.page .usernameInput {
  font-size: 125%;
  letter-spacing: 1px;
}

.login.page .title, .login.page .usernameInput {
  color: #b2ada5;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */

.messages {
  font-size: 115%;
}

.inputMessage {
  color: #b2ada5;
  font-size: 100%;
  background-color: #24292e ;
}

.log {
  color: gray;
  font-size: 70%;
  margin: 5px;
  text-align: center;
}

/* Messages */

.chatArea {
  height: 100%;
  padding-bottom: 60px;
}

.messages {
  height: 100%;
  margin: 0;
  overflow-y: scroll;
  padding: 10px 20px 10px 20px;
}

.message.typing .messageBody {
  color: gray;
}

.username {
  font-weight: 700;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
}

/* Input */

.inputMessage {
  border: 2px solid #000;
  bottom: 0;
  height: 60px;
  left: 0;
  outline: none;
  padding-left: 10px;
  position: absolute;
  right: 0;
  width: 100%;
}

.shinraiTitle {
  color: #46bbcc;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #101012;
}
::-webkit-scrollbar-thumb {
  background: #24292e;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.animatedLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 22%;
}

.color-input {
  color: #b2ada5;
  transition: 0.2s;
}

.login.page .form .color-input {
  background-color: transparent;
  border: none;
  padding: 5px 0 5px 0;
  text-align: center;
  width: 142px;
}

.dark-picker .huebee__container {
  background: #24292e;
}
.huebee__close-button {
  background: #46bbcc;
}

.huebee__close-button__x {
  stroke-width: 1;
}

.claimBtn {
  display: none;
  position: inherit;
  cursor: pointer;
  background-color: transparent;
  color: #b2ada5;
}

.claimBtn:hover {
  color: #46bbcc;
  transition: 0.2s;
}

.modal {
  text-align: center;
  background-color: #101012;
  color: #b2ada5;
}

.modal a {
  color: #46bbcc;
}

.pwInput {
  background: transparent;
  border: none;
  border-bottom: 1px solid #46bbcc;
  color: #b2ada5;
  text-align: center;
}

.pwInput:focus {
  outline: none;
}

.error, .claimError {
  color: #ee3f3f;
}